/***
 * Cronos Business Services
 *
 * Cronos 3D
 * Menu appears from the right of the page
 * and the content rotate / scale on the left
 ***/


/* Basic reset css based on : http://meyerweb.com/eric/tools/css/reset/ */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
strong,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

body {
  font-family: sans-serif;
  font-weight: 400;
  color: #232323;
  background: #333;
}

/* Navbar basic & onscroll + logo / sitename */
header#navbar {
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 70px;
  padding: 10px 0;
  background: transparent;
}
header#navbar.scroll {
  background: #fff;
  box-shadow: 0 0 3px #aaa;
}
header#navbar .navbar-header {
  width: 100%;
}
header#navbar .logo {
  float: left;
  height: 50px;
  margin: 0;
  margin-left: 20px;
  margin-right: 10px;
}
header#navbar .logo img {
  width: auto;
  height: 100%;
}
header#navbar .name {
  float: left;
  margin-top: 3px;
  margin-right: 5px;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #232323;
}


/* Navbar region 'navigation' top right */
header#navbar .navbar-collapse {
  float: right;
  margin-top: 8px;
  margin-right: 50px;
  padding: 0 !important;
}
header#navbar .navbar-collapse li {
  float: left;
  padding: 0;
  margin-right: 10px;
  list-style: none;
}
header#navbar .navbar-collapse li a {
  padding: 10px 7px;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #232323;
}
header#navbar .navbar-collapse li a:hover {
  /* reset bootstrap */
  background: none !important;
}


/* Button toggle aside menubar */
button#toggle {
  z-index: 120;
  position: fixed;
  top: 18px;
  right: 10vw;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
button#toggle span {
  display: block;
  position: absolute;
  width: 20px;
  height: 3px;
  left: 0;
  right: 0;
  margin: auto;
  background: #232323;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
button#toggle span#burger-sesame-bread {
  top: 13px;
}
button#toggle span#burger-meat {
  top: 19px;
}
button#toggle span#burger-bread {
  top: 25px;
}
button#toggle.on span {
  background: #fff;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
button#toggle.on span#burger-sesame-bread {
  top: 19px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
button#toggle.on span#burger-meat {
  display: none;
}
button#toggle.on span#burger-bread {
  top: 19px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}


/* Region menubar */
#menubar {
  z-index: 110;
  position: fixed;
  width: 100vw;
  max-width: 500px;
  height: 100vh;
  padding-top: 70px;
  top: 0;
  right: -700px;
  color: #232323;
  overflow: hidden;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#menubar.on {
  right: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


/* Basic style for all custom block you might put in the 'menubar' region */
#menubar .block {
  position: relative;
  float: right;
  width: auto;
  min-width: 60%;
  max-width: 80%;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10.7vw;
  color: #fff!important;
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
}
#menubar .block img {
  width: 100%;
  height: auto;
}


/* Basic style for all menus in the 'menubar' region */
#menubar .block-menu ul {
  width: 100%;
}
#menubar .block-menu ul .leaf {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  padding: 4px 0;
  list-style: none !important;
}
#menubar .block-menu ul .leaf.on {
  -webkit-animation: fadeIn .3s;
  -moz-animation: fadeIn .3s;
  -ms-animation: fadeIn .3s;
  -o-animation: fadeIn .3s;
  animation: fadeIn .3s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -ms-animation-fill-mode: backwards;
  -o-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

/* Animation delay for the '.leaf' li */
#menubar .block-menu ul .leaf.on:nth-child(1) {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -ms-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
}
#menubar .block-menu ul .leaf.on:nth-child(2) {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
}
#menubar .block-menu ul .leaf.on:nth-child(3) {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -ms-animation-delay: .4s;
  -o-animation-delay: .4s;
  animation-delay: .4s;
}
#menubar .block-menu ul .leaf.on:nth-child(4) {
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -ms-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s;
}
#menubar .block-menu ul .leaf.on:nth-child(5) {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -ms-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}
#menubar .block-menu ul .leaf.on:nth-child(6) {
  -webkit-animation-delay: .7s;
  -moz-animation-delay: .7s;
  -ms-animation-delay: .7s;
  -o-animation-delay: .7s;
  animation-delay: .7s;
}
#menubar .block-menu ul .leaf.on:nth-child(7) {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -ms-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}
#menubar .block-menu ul .leaf.on:nth-child(8) {
  -webkit-animation-delay: .9s;
  -moz-animation-delay: .9s;
  -ms-animation-delay: .9s;
  -o-animation-delay: .9s;
  animation-delay: .9s;
}
#menubar .block-menu ul .leaf.on:nth-child(9) {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
#menubar .block-menu ul .leaf.on:nth-child(10) {
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  -ms-animation-delay: 1.1s;
  -o-animation-delay: 1.1s;
  animation-delay: 1.1s;
}

#menubar .block-menu ul .leaf a {
  padding: 12px 22px;
  padding-right: 60px;
  text-decoration: none;
  text-align: right;
  font-size: 22px;
  font-weight: 600;
  color: #fff !important;
}
#menubar .block-menu ul .leaf a:hover {
  color: #428bca !important;
  background: transparent !important;
}
#menubar .block-menu ul .leaf a:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  top: 25px;
  right: 6px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#menubar .block-menu ul .leaf a:hover:after {
  right: 15px;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

@keyframes fadeIn {
  /* Animation for the .leaf li */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Basic style for login menu in the menubar */
#menubar #block-system-user-menu {
  position: absolute;
  bottom: 30px;
  right: 12vw;
  margin-right: 0;
}
#menubar #block-system-user-menu .leaf {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
#menubar #block-system-user-menu .leaf a {
  display: block;
  padding: 8px 14px;
  background: transparent;
  box-shadow: 0 0 0 3px #454545 inset;
  text-align: center;
  font-size: 17px;
  color: #666 !important;
}
#menubar #block-system-user-menu .leaf a:after {
  /* Reset from the .block-menu custom style inherit */
  content: none;
}
#menubar #block-system-user-menu .leaf a:hover {
  box-shadow: 0 0 0 3px #555 inset;
  color: #888 !important;
}


/* Block container of the main content */
#bigtransform {
  /* Perspective parent for the rotation / scale content */
  position: absolute;
  width: 100vw;
  height: auto;
  top: 0;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#bigtransform.on {
  /* Add perspective in this .class with js because it causes scroll glitches in chrome */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -ms-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#transform {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow: hidden;
  padding-top: 170px;
  background-color: #f4f4f4;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#transform.on {
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 100vh;
  z-index: 105;
  background-color: #fff;
  box-shadow: -12px 20px 10px #333;
  opacity: .8;
  -webkit-transform: rotateY(20deg) scale(0.6) translateY(-25%);
  -moz-transform: rotateY(20deg) scale(0.6) translateY(-25%);
  -ms-transform: rotateY(20deg) scale(0.6) translateY(-25%);
  -o-transform: rotateY(20deg) scale(0.6) translateY(-25%);
  transform: rotateY(20deg) scale(0.6) translateY(-25%);
  -webkit-transform-origin: 10% 50%;
  -moz-transform-origin: 10% 50%;
  -ms-transform-origin: 10% 50%;
  -o-transform-origin: 10% 50%;
  transform-origin: 10% 50%;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


/* Responsive for mobile */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  #menubar.on {
    min-height: 100vh;
    background: #232323;
    overflow-y: scroll;
    padding-bottom: 80px;
  }
  #menubar #block-user-login {
    width: 80% !important;
    min-width: 80% !important;
  }
  #menubar #block-user-login ul li {
    float: none;
    clear: both;
    width: 100%;
    text-align: center;
  }
  #transform.on {
    opacity: .2;
    -webkit-transform: scale(0.8) translateX(0);
    -moz-transform: scale(0.8) translateX(0);
    -ms-transform: scale(0.8) translateX(0);
    -o-transform: scale(0.8) translateX(0);
    transform: scale(0.8) translateX(0);
  }
}


/* Small bootstrap changes & fixes */
.container {
  padding-right: 0;
  padding-left: 0;
}
.main-container {
  background: #fff;
}
.main-container p {
  font-size: 16px;
  line-height: 30px;
}
.main-container #page-header {
  width: auto;
  height: auto;
  min-height: 60px;
  margin: -30px 20px 30px;
  text-align: center;
  background: #428bca;
}
.main-container #page-header p {
  padding-top: 14px;
  color: #fff;
}
.main-container .row {
  margin-left: 0;
  margin-right: 0;
}
.main-container .row aside,
.main-container .row section.col-sm-12 {
  padding: 20px;
}
